<!-- Navigation Headers -->

<%- include('header') %>

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Sign Up</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <p class="mb-4">Fill out the form below to sign up for the service. Already signed up? Then just
                            <a class="blue" href="/login">Log In</a>
                        </p>

                       
                        <!-- Sign Up Form -->
                        <form action="/signup/submit" method="POST">
                            <div class="mb-4 form-floating">
                                <input onfocus="handleErrMsg()" id="email-Field" type="email" class="form-control <%= errorMsg ? 'border-danger' : '' %>" id="floatingInput" name="signupEmail"
                                    placeholder="name@example.com" value="<%= userFilledData ?  userFilledData.signupEmail : '' %>">
                                <label for="floatingInput">Email address</label>
                                <% if(errorMsg && errorField === 'email') {%>
                                    <p style="color: red; font-size: 14px;" id="erorMsg"><%= errorMsg %></p>
                                <% } %>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="floatingInput2" placeholder="Your name"
                                    name="signupName" value="<%= userFilledData ?  userFilledData.signupName : '' %>" required>
                                <label for="floatingInput">Your name</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="password" class="form-control" id="floatingPassword" name="signupPassword"
                                    placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="contactNumber" name="signupContact" placeholder="Mobile Number (Optional)"
                                    maxlength="12" pattern="[0-9]{10,12}" required value="<%= userFilledData ?  userFilledData.signupContact : '' %>">
                                <label for="contactNumber">Contact Number</label>
                            </div>
                            <div class="mb-4 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1">I agree with the site's stated <a
                                        href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms &
                                        Conditions</a></label>
                            </div>
                            <button type="submit" class="form-control-submit-button">Sign up</button>
                        </form>
                        <!-- end of sign up form -->

                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    <!-- Footer -->

    <%- include('footer') %>

    <script>
        function handleErrMsg(){
            document.querySelector('#email-Field').classList.remove('border-danger')
            document.querySelector('#erorMsg').style.display = 'none';
    }
    </script>