<%- include('header') %>

    <style>
        .profile {
            margin-top: -100px;
        }
    </style>
    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <!-- Page title -->
                <div class="my-5">

                </div>
                <div class="card">
                    <!--img-->
                    <div class="rounded-top-3" 
                        style='background-image: url("<%= userProfile.cover ? userProfile.cover : 'images/cover.png' %>");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 250px;'>
                    </div>


                    <div class="card-body p-md-5">
                        <div class="d-flex flex-column gap-5">
                            <!--img-->
                            <div class="mt-n8 profile">
                                <img src="<%= userProfile && userProfile.profile ? userProfile.profile : 'images/profile.png' %>"
                                    alt="mentor 1" class="rounded-4 mt-n8 " height="150">
                            </div>

                            <div class="d-flex flex-column gap-5">
                                <div class="d-flex flex-column gap-3">
                                    <div class="d-flex flex-md-row flex-column justify-content-between gap-2">
                                        <!--heading-->
                                        <div>
                                            <small class="fw-medium text-gray-800"></small>
                                            <h1 class="mb-0">
                                                <%= userProfile ? userProfile.fullname : '' %> <span class="fs-6">( <%= userProfile ? userProfile.pronouns : '' %> )</span>
                                            </h1>
                                            <!--content-->
                                            <div class="d-flex flex-lg-row flex-column  pe-5">

                                                <small class="fw-medium text-success bio-txt fst-italic lh-sm">
                                                    <%= userProfile ? userProfile.bio : '' %>
                                                </small>
                                            </div>
                                        </div>
                                        <!--button-->
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <a href="#!" class="btn btn-outline-white">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-heart-fill me-1"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314">
                                                        </path>
                                                    </svg>
                                                </span>
                                                Save
                                            </a>
                                            <a href="#!" class="btn btn-outline-white">Ask questions</a>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-md-row flex-column gap-md-4 gap-2">
                                        <div class="d-flex flex-row gap-2 align-items-center lh-1">

                                            <span class="fa-stack ">
                                                <a href="<%= userProfile ? userProfile.facebook : '#' %>">
                                                    <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                                </a>
                                            </span>
                                            <span class="fa-stack">
                                                <a href="<%= userProfile ? userProfile.twitter : '#' %>">
                                                    <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                                </a>
                                            </span>
                                            <span class="fa-stack">
                                                <a href="<%= userProfile ? userProfile.linkedin : '#' %>">
                                                    <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                                </a>
                                            </span>
                                            <span class="fa-stack">
                                                <a href="<%= userProfile ? userProfile.instagram : '#' %>">
                                                    <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                                </a>
                                            </span>

                                        </div>
                                        <!-- <div class="d-flex flex-row gap-2 align-items-center lh-1">
                                          
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    fill="currentColor"
                                                    class="bi bi-people-fill text-primary align-baseline"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5">
                                                    </path>
                                                </svg>
                                            </span>
                                           
                                            <span>
                                                <span class="text-gray-800 fw-bold">40+</span>
                                                Mentees
                                            </span>
                                        </div>
                                        <div class="d-flex flex-row gap-2 align-items-center lh-1">
                                          
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                    fill="currentColor" class="bi bi-geo-alt-fill text-danger"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6">
                                                    </path>
                                                </svg>
                                            </span>
                                           
                                            <span>Gujarat,India</span>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- <div class="d-flex flex-column gap-2">
                                   
                                    <h3 class="mb-0">Tags</h3>

                                    <div class="gap-2 d-flex flex-wrap">
                                        <a href="#!" class="btn btn-tag btn-sm">Frontend</a>
                                        <a href="#!" class="btn btn-tag btn-sm">HTML</a>
                                        <a href="#!" class="btn btn-tag btn-sm">CSS</a>
                                        <a href="#!" class="btn btn-tag btn-sm">React</a>
                                        <a href="#!" class="btn btn-tag btn-sm">Javascript</a>
                                        <a href="#!" class="btn btn-tag btn-sm">Vuejs</a>
                                        <a href="#!" class="btn btn-tag btn-sm">Next.js</a>
                                    </div>
                                </div> -->
                                <!-- <div>
                                    <span
                                        class="badge rounded-pill text-success-emphasis bg-success-subtle border border-success align-items-center">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                fill="currentColor" class="bi bi-reply-fill me-1 align-text-top"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z">
                                                </path>
                                            </svg>
                                        </span>
                                        Quick Responder
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <hr class="my-4 w-75 mx-auto border border-4 border-info shadow-lg">
        
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <% allblogs.forEach(blog=> { %>
                    <div class="card mb-5" style="border-radius: 15px;">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h4 class="mb-3"><%= blog.blogTitle %></h4>
                                    <p class="small"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span>
                                        Created by
                                        <strong><%= blog.writerName %></strong> <%= blog.blogDate %>
                                    </p>
                                    <hr class="my-1">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <p>
                                            <%= blog.blogDescription %>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center ">
                                        <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                                class="text-muted small">8 min
                                                read</span></p>
                                        <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                                                class="text-muted small">1 day ago</span></p>
                                        <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i>
                                            <span class="text-muted small" style="cursor: pointer;"> <a href="/blog/<%= blog.blogSlug %>">Read More</a> </span>
                                            <span class="ms-3 me-4">|</span>
                                        </p>
                                        <a href="#!">
                                            <img src="<%= blog.profileImg || 'https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp' %>"
                                                alt="avatar" class="img-fluid rounded-circle me-3"  style="width: 40px; height:40px;">
                                        </a>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-outline-dark btn-sm btn-floating">
                                            <i class="fas fa-plus text-body"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pe-5">
                                <div class="py-5">
                                    <a href="#!">
                                        <img src="<%= blog.blogImage || ' images/user_Img.jpg' %>" alt="avatar" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>

    <%- include('footer') %>